@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

.ItemDetail{
    display: flex;
    justify-content: center!important;
    align-items: center;
    width: 900px;
}
.imgDetail{
    width: auto;
    height: 500px;
    display: inline-block;
}
.cardDetail:hover{
    transform:  none;
    transition: none;
}
.carrito{
    color: rgb(219, 23, 209);
    padding-right: 15px;
}
.detalle{
    height: 120px;
}
.Btn-irCarrito{
    padding: 5px;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 5px;
}
.card-title{
    margin: 30px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 0px 1px 10px rgb(10, 10, 10);
}
.imgDetail{
    overflow: hidden;
}